{% extends 'layout.html.twig' %}

{% block body %}
    <h1>Liste des véhicules</h1>

    <table>
        <thead>
            <tr>
                <th>Modèle</th>
                <th>Marque</th>
                <th>Couleur</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for voiture in voitures %}
                <tr>
                    <td>{{ voiture.model }}</td>
                    <td>{{ voiture.marque.name }}</td>
                    <td style="width: 25px; height: 25px; background-color: {{ voiture.color }}; ">
                    </td>
                    <td>
                        <a href="{{path('car.update', {id: voiture.id})}}">Modifier</a>
                        <a href="{{path('car.delete', {id: voiture.id})}}">Supprimer</a>
                        <a href="{{path('Car.info', {id: voiture.id})}}">Voir</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
        
    </table>
    
    

{% endblock %}