{% extends 'layout.html.twig' %}

{% block body %}
    <h1>Modifier {{voiture.marque.name}} {{voiture.model}} </h1>
    <p>Les informations du véhicule à modifier :</p>
    <table>
        <thead>
            <tr>
                <th>Modèle</th>
                <th>Marque</th>
                <th>Couleur</th>
            </tr>
        </thead>
        <tbody>
                <tr>
                    <td>{{ voiture.model }}</td>
                    <td>{{ voiture.marque.name }}</td>
                    <td style="width: 25px; height: 25px; background-color: {{ voiture.color }}; ">
                    </td>
                </tr>
        </tbody>
    </table><br><br>
    <form action="" method="POST">
        <label for="marque">Modifier la marque</label>
        <select name="marque">
          <option value="null">---</option>
          {% for marque in marques %}
            {% if marque.id is same as(voiture.marque.id)  %}
                <option value="{{marque.id}}" selected>{{ marque.name}}</option>
                {% else %}
                    <option value="{{marque.id}}">{{ marque.name}}</option>
            {% endif %}
          {% endfor %}
        <label for="model">Modifier le modèle:</label>
        <input type="text" name="model" id="model" value="{{voiture.model}}"><br>
        <label for="marque">Modifier la couleur:</label>
        <input name="couleur" type="color" id="color" value="{{voiture.color}}"><br>
        <input type="submit" value="Modifier">

    </form>
    
    

{% endblock %}