<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{siteName}}</title>
    {% block stylesheet %}
    {% endblock %}
</head>
<body>
    
    <header>
        <nav>
            <ul>
                <li><a href="{{path('admin.home')}}">Home</a></li>
                <li><a href="{{path('Car.add')}}">Ajouter un vehicule</a></li>
                {# <li><a href="<?= $router->generateUri('addVehicule') ?>">Add Vehicule</a></li> #}
                <li><a href="{{path('marque.add')}}">Ajouter une marque</a></li>
                <li><a href="{{path('Car.list')}}">Voir tous les véhicules</a></li>
                <li><a href="{{path('marque.list')}}">Voir toutes les marques</a></li>
                <li><a href="{{path('admin.logout')}}">Déconnexion</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% if hasToast() %}
            {% for toast in renderToast() %}
            {{ toast | raw}}
            {% endfor %}
        {% endif %}
        {% block body %}
        <!-- inserer page ici -->
        {% endblock %}
    </main>


    <footer>
    <h1>Je suis le footer</h1>
    </footer>
    
</body>