<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- raccourci pour php echo -->
    <title>{{siteName}}</title>
    {% block stylesheet %}
    {# lier css ex ds infoCar.html.css ds Car et view #}
    {% endblock %}
</head>
<body>
    
    <header>
        <nav>
            <ul>
                <!-- faille include peut faire passer script pour img par exemple
                choses malveillantes peuvent etre dans code
                si gestion route par gestion url gars peut acceder au fichier et donc activer fichier malveillant
                donc pas de lien que html mais passage par routeur -->
                <li><a href="/">Home</a></li>


                <li><a href="{{path('user.list')}}">Voir les véhicules</a></li>

                {# avec twig extension #}
                {% if user %}
                    <li><a href="{{path('user.update')}}">Modifier mes informations</a></li>
                    <li><a href="{{path('user.logout')}}">Deconnexion</a></li>

                    {% else %}
                    <li><a href="{{path('user.login')}}">Inscription / Connexion</a></li>

                {% endif %}

                

            </ul>
        </nav>
    </header>

    <main>
        {% if hasToast() %}
            {% for toast in renderToast() %}
            {{ toast | raw}}
            {% endfor %}
        {% endif %}
        {% block body %}
        <!-- inserer page ici -->
        {% endblock %}
    </main>


    <footer>
    <h1>Je suis le footer</h1>
    </footer>

    {% block scripts %}
    
    {% endblock %}
    
</body>